<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
   <a th:href="@{/new}" class="btn btn-primary">New</a>
   <table class="table" >
       <thead>
           <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Cellphone</th>
               <th>Action</th>
           </tr>
       </thead>
       <tbody>
            <tr th:each="person:${persons}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.name}"></td>
                <td th:text="${person.cellphone}"></td>
                <td>
                    <a th:href="@{/edit/}+${person.id}" class="btn btn-warning">Edit</a>
                    <a th:onclick="remove([[${person.id}]])" class="btn btn-danger">Remove</a>
                </td>
            </tr>
       </tbody>
   </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="functions.js"></script>
</body>
</html>